.cont-1 {
     
    padding-left: 600px; 
   
   }
   
    .cont-1 a:hover{
       
       color:blue;
   }
   
       
   .jumbotron{
       
       
       text-align: center;
       background-color: #DCDCDC;
       padding-bottom: 150px;
       padding-top: 150px;
        background-image: url("bgm.jpg");
       background-repeat: no-repeat;
     max-width: 100%;

       height: 600px;
       background-size: cover;
  position: relative;
   }
   
   .section-light .card{
       
       text-align: center;
     
       
       
   } 
  
  
