.cont-1 {
     
    padding-left: 600px; 
   
   }
   
    .cont-1 a:hover{
       
       color:blue;
   }
   
       
   .jumbotron{
       
       
       text-align: center;
       background-color: #DCDCDC;
       padding-bottom: 150px;
       padding-top: 150px;
        background-image: url("bgm.jpg");
       background-repeat: no-repeat;
     max-width: 100%;
   object-fit: cover;
       background-size: cover;
       height: 20px;
   }
   
   .section-light .card{
       
       text-align: center;
     
       
       
   } 
   .jumbotron button{
       
       background-color:#DCDCDC ;
       border-radius: 5px;
       margin-top: 50px;
       height: 3rem;
       width: 6rem;
   }
   
   
   